body{
    font-size: 32px;  
}

.wrapper{
    background-color: purple;
    height: 80vh;
    padding: 16px;

    /* grid */
    display: grid;
    gap: 5px;
    /* grid-template-columns: 20% 100px 1fr;
    grid-template-rows: 100px 30% 1fr; */
    
    grid-template-columns: auto;
    grid-template-areas:
    "item9 item2 item3"
    "item4 item5 item5"
    "item4 item8 item1"
    "item6 item8 item7"
    ;

}


.wrapper > div {
    background: orange;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.item-1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-row: 3/4;
    grid-column: 1/4;

    grid-area: item1;
}
.item-2{
    grid-area: item2;
}
.item-3{
    grid-area: item3;
}
.item-4{
    grid-area: item4;
}
.item-5{
    grid-area: item5;
}
.item-6{
    grid-area: item6;
}
.item-7{
    grid-area: item7;
}
.item-8{
    grid-area: item8;
}
.item-9{
    grid-area: item9;
}

/* media query */

@media (max-width: 768px){
    .wrapper{
        grid-template-columns: repeat (2 ,1fr);
        grid-template-areas: 
        "item1 item1"
        "item2 item3"
        "item4 item4"
        "item5 item6"
        "item7 item7"
        "item8 item9";
    }

}

@media (max-width: 475px){
    .wrapper{
        grid-template-columns: repeat (2 ,1fr);
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9";
    }

}